.container {
  margin: 2rem;
}

.bookContainer {
  display: flex;
  align-items: center;
  margin: 1rem 3rem;
}

.bookImage {
  width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bookImage img {
  width: 300px;
  height: auto;
}

.bookContent {
  margin-left: 1rem;
  width: 100%;
}

.bookName {
  font-size: 2rem;
  font-weight: 700;
}

.bookCategory {
  display: inline-block;
  background-color: rgb(0, 0, 123);
  border-radius: 4px;
  padding: .5rem;
  margin: 1rem 0;
  color: white;
}

.bookDescription {
  font-size: 14px;
  margin-bottom: 1rem;
}

.buyBtn {
  display: inline-block;
  text-decoration: none;
  background-color: rgb(0, 179, 0);
  color: white;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  width: 80px;
  text-align: center;
  border-radius: 4px;
  transition: transform .4s linear;
}

.buyBtn:hover {
  transform: translateY(-8px);
}

@media screen and (max-width: 768px) {
  .bookContainer {
    flex-direction: column;
    margin: 2rem auto;
  }
  .bookImage {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 428px) {
  .bookDescription {
    text-align: justify;
  }
}